:root {
    --primary-color: #FDF1FF;
    --secondary-color: #5F0081;
    --tertiary-color: #CB38FF;
    --light-color: #fff;
    --danger-color: #770000;
    --success-color: #005414;
}

* {
    font-family: Arial, sans-serif;
}


body {
    background-color: var(--primary-color) !important;
}

h1, h3 {
    color: var(--secondary-color) !important;
}


/* PRE-LOADER */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 5px solid;
    border-color: transparent var(--secondary-color) var(--secondary-color);
    border-radius: 50%;
    -webkit-animation: spin 300ms linear infinite;
    animation: spin 300ms linear infinite;
}
#forLoader {
    display: none;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* FORM */
.form .pp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
}

.form .pp img {
    border-radius: 100px;
    border: 2px solid var(--secondary-color);
    width: 170px;
}

.form .pp input[type="file"] {
    display: none;
}

.form a {
    text-decoration: none;
}

.form .toggle-pass {
    top: 10px;
    right: 10px;
    position: absolute;
}

.form .btn-profile {
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.form .btn-profile:hover {
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.form .btn-deactivate {
    border: none;
    border-radius: 5px;
    background-color: var(--danger-color);
    color: var(--light-color);
    padding: 10px;
    font-size: 14px;
}

.form .btn-deactivate:hover {
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}


/* MEDIA QUERY */

@media screen and (max-width: 510px) {

    .form h1 {
        font-size: 25px;
    }

    .form h3 {
        font-size: 18px;
    }

    .form .pp img {
        width: 100px;
    }

    .form .btn-profile, .form .btn-deactivate, .form label, 
    .form input, .form input::placeholder, .form select, .form a, .form p{
        font-size: 12px;
    }

    
}